body {
    margin: 0;
}

body h1 {
    align: center;
}

.search-container {
    width: 66vw;
    margin-left: 17vw;
    position: relative;
}

.search-container input {
    width: 100%;
    font-size: 1.7em;
    border: 1px solid #DDD;
    border-radius: 5px;
}

.content-container {
    display: flex;
    flex-direction: row;
    align-content: space-around;
}

.video-container {
    order: 2;
    padding: 1.5em;
}

#found-content {
    position: absolute;
    width: 100%;
    background-color: white;
    z-index: 1;
    display: block;
}

.found-item {
    display: block;
    background-color: #FFF;
    padding: 1em 1em;
    overflow: hidden;
    border: 1px solid #EEE;
    position: relative;
}

.found-item img {
    height: 90px;
    width: 120px;
    float: left;
    margin-right: 5px;
}

.found-item button {
    position: absolute; 
    right: 0.9em;
    bottom: 0.9em;
    padding: 0.5em 1em;
    font-size: 1.3em;
    border: none;
    background-color: #EEE
}

.found-item button:hover {
    color: #FFF;
    background-color: #AAA;
}

.history-container {
    order: 1;
}

#history-content {
    width: 100%
}

.history-item {
    clear: both;
    max-width: 25vw;
    position: relative;
    padding: 5px;
    overflow: hidden;
    border: 1px solid #DDD;
}
.history-item p {
    margin-top: 0;
}

.history-item img {
    height: 67px;
    width: 90px;
    float: left;
    margin-right: 15px;
}

.history-item button {
    border: none;
    color: white;
    padding: 7px;
    font-weight: bold;
    font-size: 20;
    margin: 2px;
    border-radius: 2px;
}

.history-play {
    background-color: green;
    position: absolute;
    bottom: 3px;
    right: 33px;
}

.history-delete {
    background-color: red;
    position: absolute;
    bottom: 3px;
    right: 3px;

}